$akrobat: Akrobat; 
$first-steelblue-medium: #333B41;
$first-steelblue-dark: #24303B; 
$first-steelblue-black: #1C2B39;
$second-jade: #00a8ac;
$gray-light: #F2F2F2; 

$sm:640px;
$md:768px;
$lg:1024px;
$xl:1280px;

:root{
  --akrobat: Akrobat; 
  --first-steelblue-medium: #333B41;
  --first-steelblue-dark: #24303B; 
  --first-steelblue-black: #1C2B39;
  --second-jade: #00a8ac;
  --gray-light: #F2F2F2; 
}

 
$bodyFont: 'Open Sans', sans-serif;
