<div class="max-w-5xl mx-auto sm:px-6 md:py-10">

        <form  @submit.prevent="registerUser" class="mb-2">
            <div class="w-1/2">
                <h1 class="text-xl text-gray-600 mb-2">Rigistrar nuevo usuario</h1>
                <div class="mb-2">
                    <input v-model="newUser.name" class="input" placeholder="Nombre" required >
                </div>
                <div class="mb-2">
                    <input  v-model="newUser.lastname" type="text" class="input" placeholder="Apellidos" required>
                </div>
                <div class="mb-2">
                    <input  v-model="newUser.email" type="email" class="input" placeholder="Correo" required>
                </div>
                <div class="mb-2">
                    <input  v-model="newUser.phone" type="text" class="input" placeholder="Teléfono" required>
                </div>
                <div class="mt-3 mb-2">
                    <template v-if="currentUser === false" >  
                        <button type="submit" class="btn btn-blue">Registrar <i class="fas fa-user-plus"></i></button> 
                    </template>
                    <template  v-else >  
                        <button @click="updateUser"  class="btn btn-blue">Actualizar</button>  
                    </template>

                </div>
            </div>
        </form>
        
        <div >
            <div class="message" v-if="errorMsg">
                <span class="bg-red-600 message-icon "><i class="fas fa-exclamation-triangle"></i> </span>
                <span class="message-text  "> Error: {{errorMsg}} </span>
            </div>
            <div class="message" v-if="successMsg">
                <span class="bg-green-500 message-icon "><i class="fas fa-check"></i> </span>
                <span class="message-text  "> Correcto: {{successMsg}}</span>
            </div>
            <div class="message" v-if="updateMsg" >
                <span class="bg-green-500 message-icon "><i class="fas fa-check"></i> </span>
                <span class="message-text  "> Correcto:  {{updateMsg}}</span>
            </div>
            <div class="message" v-if="deleteMsg" >
                <span class="bg-green-500 message-icon "><i class="fas fa-check"></i> </span>
                <span class="message-text  "> Eliminado:  {{deleteMsg}}</span>
            </div>
            <div class="py-2 px-2 flex justify-between items-center bg-gray-100 border-b-2 border-blue-500">
                <h1 class="text-xl text-gray-900 ">Lista de usuarios registrados</h1>
                <button class="btn btn-blue  ">Agregar usuarios <i class="fas fa-user-plus"></i></button>
            </div>
        </div>
        
        <div class="mt-2">
            <table class="w-full">
                <tr>
                    <th>N°</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Teléfono</th>  
                    <th>Edit</th>
                    <th class="border-r-0">Delete</th>  
                </tr>
                <tr v-for="(user, index) in users" :key="index">
                    <td>#{{index +1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>  
                    <td><button @click="showUserForm(user)" class="btn btn-edit"><i class="fas fa-edit"></i></button></td>
                    <td><button @click ="deleteUser(user.id, user.name)" class="btn btn-delete"><i class="fas fa-trash"></i></button></td>  
                </tr>
            </table>
        </div> 
    </div>